.navbar {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 393px; 
    height: 88px; 
    background-color: #F2F2F2; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .nav-item {
    width: 47px; /* width of icon */
    height: 46px; /* height of icon */
    cursor: pointer;
  }

    .nav-text {
    font-family: 'Roboto Slab', serif; 
    font-size: 10px;
    line-height: 1.2; 
    color: #87BF56; 
    text-align: center; 
    text-transform: none; 
    left: 45px; 
    top: 824px;
    
    border: none; 
    box-shadow: none; 
    margin: 0; 
  }
  